<app-header title='games' [games]="games()"></app-header>

<!-- <h1 (click)="showAlert()">Games</h1> -->

<router-outlet></router-outlet>

<!--<pre *ngIf="loading()">loading: {{ loading() }}</pre>
<pre *ngIf="error() != ''">error: {{ error() }}</pre>

<ul *ngIf="games2.length > 0">
    <li *ngFor="let game of games2">
    {{ game.name }} ({{ game.id }})
    </li>
</ul>

<ul *ngIf="games().length > 0">
    <li *ngFor="let game of games()">
    {{ game.name }} ({{ game.id }})
    </li>
</ul>

<app-footer (subscribeClicked)="handleSubsrcibe()"></app-footer>-->